# Provider overrides
uri_method = "qemu+ssh"

uri_username = "yourusername"

uri_hostname = "yourkvmhost"

# Resource overrides

guest_count = 3

guest_user_name = "yourname"

guest_user_ssh_authorized_key = "ssh-rsa YourKeyGoesHere yourname@example.com"

guest_os_volume_source = "/path/to/img/on/kvm/host.img"

guest_hostname = "flatcar"

guest_domain_name = "yourdomain"

guest_memory = 2048

guest_cpu = 1
